.general_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.general_container h1{
    font-weight: bold;
    color: var(--text_dark_green);
    font-size: 2.5rem;
}

.logo_line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-top:4rem;
    margin-bottom: 5rem;
}

.logo_style{
    width: 8rem;
    height: 8rem;
    margin: 0 1.5rem;
}