.general_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.section_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 80vw;
  background-color:var(--dark_green);
  margin: 2rem 1rem 3rem ;
}

.section_title h1{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section_subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--white);
}

.icon_style{
  width:15px ;
  height:15px ;
  margin-right: 0.5rem;
}

.topic_title{
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topic_title h2{
  color: var(--text_dark_green);
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.topic_title p{
  font-size: 1rem;
  margin-bottom: 1.5rem;
  max-width: 80vw;
}

.topic_title ul{
  margin-bottom: 1.5rem;
}

.list_style{
  width: 80vw;
}