.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  
  .title {
    margin-bottom: 8px;
  }
  
  .description {
    margin-bottom: 16px;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .divider {
    width: 100%;
    border-top: 0.1rem solid var(--divisor_gray);
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}