.general_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark_green);
    max-width: 79vw;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-top: 6rem;
}

.general_container button{
    height: 3rem;
    width: 10rem;
    color: var(--white);
    background-color: var(--green);
    border: var(--green);
}

.section_title{
    color: var(--white);
    font-size: 2.5rem;
}

.article_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 5rem;
}

.li_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 20rem;
    margin: 0 3rem;
}

.link_article{
    cursor: pointer;
}

.article_title{
    color: var(--white);
}

.article_resume{
    color:var(--bg_gray);
    font-weight: normal;
}

.small_divider{
    border-top: 0.1rem solid var(--divisor_gray);
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.link_style{
    text-decoration: none;
    color: inherit;
}

