.master_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green_rectangle_container{
  position: relative;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.gray_rectangle_container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 79vw;
}

.gray_rectangle{
  background-color:var(--bg_gray);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.section_1{
  padding: 2rem;
}

.section_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding-right: 2rem;
  text-align: justify;

  @media screen and (max-width: 800px) {
    max-width: 100%;
    padding: 0px 4rem;
  }

}

.section_2 p{
  
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--text_gray);

  @media screen and (max-width: 2000px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 800px) {
    font-size: 0.8rem;
  }

}

.bio_pic_style{
  width: 275px;
  height: 488px;

  @media screen and (max-width: 800px) {
    width: 12rem;
    height: 20rem;
  }
}

.pic_style{
  width: 450px;
  height: 496.5px;
}

.kkk{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.secondary_element{

  max-width: 80vw;
  background-color:var(--bg_gray);

  @media screen and (max-width: 800px) {
    max-width: 100%;
    width: 100% !important;
  }
}

.surgeries_container{
  width: 80vw;
  margin-top: 56px;
  background-color: var(--dark_green);
  flex-direction: column;
  justify-content: space-between;
  
  @media screen and (max-width: 800px) {
    width: 100% !important;
  }
}

.bg_style{
  width: 79vw;
  height: 30rem;
  display: inline;
}

.link_style{
  text-decoration: none;
}


.geral_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_name_style{
  margin-top: 0.5rem;
}
