.headerContainer {
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 9999;
  @media screen and (max-width: 768px) {
    display: none;
  }

  .headerContent {
    background-color: var(--white);
    max-width: 1920px;
    height: 8rem;
    margin: 2rem auto;
    padding: 0.8rem 2rem 2rem;
    display: flex;
    align-items: center;

    .nav_bar {
      background-color: var(--white);
      height: 6rem;
      display: flex;
      justify-items: center;

      a {
        background-color: var(--white);
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 0 5rem;
        margin-top: 3rem;
        font-size: 16px;
        height: 4rem;
        line-height: 6rem;
        text-decoration: none;

        & + a {
          margin-left: 2rem;
        }

        &:hover {
          color: var(--light_green);
        }

        &.active {
          color: var(--light_green);
          font-weight: bold;
        }
      }
    }

    .mobile {
      display: none;

      @media screen and (max-width: 765px) {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 5rem;
        width: 100vw;
        background-color: var(--white);
      }

      .menu_button {
        height: 50px;
      }

      .menu_icon_style {
        width: 50px;
        height: 50px;
      }
    }
  }
}
