.widget {
    position: fixed;
    top: 7rem;
    right: 11.5rem;
    z-index: 9999;
    cursor: pointer;
    .widget_icon {
      width: 5rem;
      height: 5rem;
    }
  }

@media (max-width:800px){
  .widget{
    top: 9rem;
    right: 0.5rem;
    z-index: 9999;
    cursor: pointer;
    .widget_icon {
      width: 3rem;
      height: 3rem;
    }
  }
}