
.professionalIntro_container{
    padding-top: 10px;
    @media screen and (max-width: 800px) {
      padding-top: 0;
      width: 100%;
    }
}

.mobile_green_rectangle {
    display: none;
  
  @media screen and (max-width: 800px) {
      display: flex;
    }
}

.mobile_green_rectangle img{

  width: 100%;
  height: 30%;
}
  