.divider {
  border-top: 0.1rem solid var(--divisor_gray);
  width: 80%;
  border-radius: 25px;
}

@media(max-width: 800px) {
  .divider {
    border-top: 0.2rem solid var(--divisor_gray);
    width: 100%;
  }
}
