.general_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}


.section_title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 80vw;
  background-color:var(--dark_green);
  margin-top: 2rem;
  margin-bottom: 3rem;

  @media screen and (max-width: 800px) {
    width: 100%;
    max-width: 100%;
  }
}

.section_title h1{
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
}


.articles_container{
  width: 80vw;
  max-width: 80vw;

  @media screen and (max-width: 800px) {
    width: 100%;
    max-width: 100%;
  }
}


.article_section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 6.6rem;

  @media screen and (max-width: 800px) {
    width: 100%;
    margin: 2rem 0;
  }

}

.li_style{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 20rem;
  margin: 0 3rem;

  @media screen and (max-width: 800px) {
    max-width: 100%
  }

  @media screen and (max-width: 2000px) {
    max-width: 15vw;
  }


}

.link_article{
  cursor: pointer;
  text-decoration: none;
}

.article_title{
  color: var(--text_dark_green);
  font-weight:600;
  margin-bottom: 1rem;
}

.article_resume{
  color:var(--dark_green);
  font-weight: normal;
}

.small_divider{
  border-top: 0.1rem solid var(--divisor_gray);
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.link_style{
  text-decoration: none;
  color: inherit;
}

