.green_rectangle {
    position: absolute;
    background-color: var(--green);

    @media screen and (max-width: 765px) {
        padding: 10px 7px;
        margin-top: 163px;
        margin-left: 41px;
    }

  }


.green_rectangle h3{
      color: var(--white);
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
}
  
.green_rectangle span{
      color: var(--white);
      font-weight:lighter;
      font-size: 10px;
} 
  