.green_rectangle {
    position: absolute;
    margin-top: 20rem;
    margin-left: 7rem;
    background-color: var(--green);

    @media screen and (max-width: 800px) {
        padding: 10px 7px;
        margin-top: 163px;
        margin-left: 41px;
    }

  }

.green_rectangle h3{
      color: var(--white);
      font-weight: bold;
      font-size: 28px;
      margin-top: 2.5rem;
      margin-left: 1rem;
      margin-bottom: 1.8rem;
     
      @media screen and (max-width: 800px) {
            font-size: 0.8rem;
            margin: 0px 0px 10px 0px;
      }
}
  
.green_rectangle p{
      color: var(--white);
      font-weight:normal;
      font-size: 1.1rem;
      margin-left: 1rem;
      margin-right: 1.5rem;

      @media screen and (max-width: 800px) {
            font-weight:lighter;
            font-size: 0.7em;
            margin: 0px;

      }
} 


  