.green_rectangle {
    position: absolute;
    margin-top: 20rem;
    margin-left: 7rem;
    background-color: var(--green);

    @media screen and (max-width: 800px) {
        width: 500px !important;
        height: 100px !important;
        padding: 10px 7px;
        margin-top: 50em;
        margin-left: 10em;
    }

    @media screen and (max-width: 700px) {
      width: 300px  !important;
      height: 150px !important;
      margin-top: 20em;
      margin-left: 5em;
    }

    @media screen and (max-width: 400px) {
      width: 300px  !important;
      height: 100px !important;
      margin-top: 20em;
      margin-left: 3em;
    }

  }

.green_rectangle h3{
      color: var(--white);
      font-weight: bold;
      font-size: 28px;
      margin-top: 2.5rem;
      margin-left: 1rem;
      margin-bottom: 1.8rem;
     
      @media screen and (max-width: 800px) {
            font-size: 1.2rem;
            margin: 0px 0px 10px 0px;
      }

      @media screen and (max-width: 400px) {
            font-size: 1rem;
      }
}
  
.green_rectangle p{
      color: var(--white);
      font-weight:normal;
      font-size: 1.1rem;
      margin-left: 1rem;
      margin-right: 1.5rem;

      @media screen and (max-width: 800px) {
            font-weight:lighter;
            font-size: 1em;
            margin: 0px;

      }
      @media screen and (max-width: 400px) {
            font-size: 0.8rem;
      }
} 


  