.desktop{
    display: flex;
    flex-direction: column;;

    .second_header{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items:center;
        justify-content: center;
    }

        .logo_style{
            width: 25rem;
            height: 25rem;
            align-self: flex-start;
        }

        .header_professional_name{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1{
                font-weight: bold;
                font-size: 3rem;
                color: var(--dark_green);
        }
        h3{
                color: var(--dark_green);
                font-size: 1.5rem;;
                font-weight: lighter;
        }
}